.file-card {
  margin: 0 10px 10px 10px;
}

.file-card-selected {
  margin: 0 10px 10px 10px;
  box-shadow: grey 0px 5px 0px 0px;
}

.file-card:hover {
  box-shadow: grey 0px 5px 0px 0px;
}

.layout_right_content_layout_markdown_scroll {
  padding-left: 10px;
  overflow-y: scroll;
}

.layout_scroll_hide::-webkit-scrollbar {
  width: 0 !important;
}
