.container {
  width: 100px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  background: #fafafa;
}

.bg-white {
  background: white;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 35px !important;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-top: 0px !important;
}

.css-mhc70k-MuiGrid-root {
  margin: 0px !important;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 0px !important;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item:first-child {
  margin-right: 16px !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  box-shadow: #fdfff4 0px 5px 5px -3px, #fdfff4 0px 8px 10px 1px,
    #ffffff 0px 3px 14px 2px !important;
}
.css-1f8bwsm {
  min-width: 40px !important;
}
