.container {
  width: 100px;
  height: 100%;
  padding-right: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  background: #fafafa;
}
.bg-white {
  background: white;
}
.css-cveggr-MuiListItemIcon-root {
  min-width: 35px !important;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-top: 0px !important;
}

.css-mhc70k-MuiGrid-root {
  margin: 0px !important;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 0px !important;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item:first-child {
  margin-right: 16px !important;
}
//
//.css-ishquk-MuiButtonBase-root-MuiListItemButton-root {
//  padding-bottom: 4px !important;
//  padding-top: 4px !important;
//}
